@page
@model GOB.AppFrontend.Pages.ProveedoresModel
@{
}
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<style>
table, tr, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
<h1>Lista Proveedores</h1>
<table style="width:100%"> 
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Identificacion</th>
    <th>Servicio</th>
    <th>Lugar Servicio</th>
    @foreach (var proveedor in Model.Proveedores)
    {   
        
        <tr>
            <td>@proveedor.nombre</td>
            <td>@proveedor.apellido</td>
            <td>@proveedor.edad</td>
            <td>@proveedor.identificacion</td>
            <td>@proveedor.servicio</td>
            <td>@proveedor.lugarServicio</td>

            <td>
              <a class="btn btn-primary table-btn" asp-page="/Listas/DetallesProveedor" asp-route-proveedorId="@proveedor.id">
                <i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </td>
            <td>
              <a class="btn btn-secondary table-btn" asp-page="/Listas/EditarProveedor" asp-route-proveedorId="@proveedor.id">
                <i class="fas fa-address-book"></i></a>

            </td>
            <td>
              <a class="btn btn-danger table-btn" asp-page="/Listas/EliminarProveedor" asp-route-proveedorId="@proveedor.id">
                <i class="fas fa-book-dead"></i></a>
            </td>        
        </tr>
        
    }
</table>
<a asp-page="/Listas/EditarProveedor" class="btn btn-primary table-btn">Adicionar Proveedor</a>